h2.text-center Daily Calculations
.row
  .col-xs-6
    form.form#food-form(name='foodForm', role='form', novalidate)
      h4.text-center What did you eat today?
      .form-group
        label(for='foodName') Name
        input.form-control#food-name(type='text', name='foodName', ng-model='food.name', required)
      .form-group
        label(for='link') Calories
        input.form-control#calories(type='number', name='calories', ng-model='food.calories', required)
      .form-group
        label(for='foodDate') Date
        input.form-control#foodDate(type='date', name='foodDate', ng-model='food.date', required)
      .form-group
        label.label-control(for='meal') Meal
          select.form-control(name='meal', ng-model='food.meal', required)
            option.form-control(value='breakfast') Breakfast
            option.form-control(value='snack') Snack
            option.form-control(value='lunch') Lunch
            option.form-control(value='dinner') Dinner
      button.btn.btn-primary.pull-right(ng-show='foodForm.$valid', ng-click='addFood()') Add Meal
  .col-xs-6
    h3 Today's Date here.
    h4 You Consumed:
    h5 Foodname
    h5 Calories
    h5 Meal

.row
  .col-xs-6
    form.form#exercise-form(name='exerciseForm', role='form', novalidate)
      h4.text-center Did you exercise?
      .form-group
        label(for='exerDate') Date
        input.form-control#exerDate(type='date', name='exerDate', ng-model='exercise.date', required)
      .form-group
        label.label-control(for='type') Type
          select.form-control(name='type', ng-model='exercise.type', ng-options='a._id as a.name for a in activities', required)
            option.form-control(value='') Select Type
      .form-group
        label.label-control(for='duration') Duration
          select.form-control(name='duration', ng-model='exercise.duration' required)
            option.form-control 30
            option.form-control 60
            option.form-control 90
            option.form-control 120
      button.btn.btn-primary.pull-right(ng-show='exerciseForm.$valid', ng-click='addExercise()') Add Exercise
  .col-xs-6
    h4 Your Activity:
    h5 Type
    h5 Duration
.row
  .col-xs-3
  .col-xs-6
    h2 You Totally Deserve a: Raisin!
  .col-xs-4


